.about-section{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    color: darkgray;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 22px 22px chocolate;
  }
  
  .column{
    padding: 3px;
    font-size: medium;
    font-weight: 100;
  }
  .about-text{
    padding-inline: 15px;
    text-align: justify;
  }
  .college{
    text-align: center;
    color: rgb(43, 106, 161);
    font-weight: 600;
  }
  #our-team{
    color: aliceblue;
    font-size: 60px;
    line-height: 1.4;
    margin-bottom: 1%;
    text-align: center;
    color: #316a9d;
    font-family: 'Poppins';
  }
  .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    padding: 2px 5px;
    margin: 5px 5px;
    
  }
  
  .container1{
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    background-color: transparent;
    width: 23%;
    /* height: 450px; */
    /* transform: translateY(-10px); */
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 30px 0px #0ecca651;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .container1:hover{
    transform: translateY(-10px);
  }
  
  .name{
    color: #4c1496;
    text-align: center;
  }
  
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .icon{
    margin-inline: 5%;
  }
  .icon a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .icon img{
    width: 30px;
  }
  .btn{
    width: 45px;
  
  }
  
  .name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .btn{
    background-color: #cfffcf;
    border-radius: 60px;
    /* box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b87f; */
  }
  .btn:hover{
    box-shadow: 1px 1px 40px #0053b87f;
    background-color: aqua;
  }
  @media screen and (width<1000px) {
    .row{
      flex-direction: column;
    }
    .container1{
      width: 88%;
    }
  }